.slider {
  position: relative;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(190,200,190);
}

.slider--horizontal {
  height: 4px;
}

.slider--vertical {
  min-height: 5rem;
  height: 100%;
  width: 4px;
  margin: 0 auto;
}

.slider__thumb {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;

  &:active {
    background-color: darken(red, 5%);
  }
}

.slider__thumb--horizontal {
  top: -4px;
  left: 0;
}

.slider__thumb--vertical {
  bottom: 0;
  left: -4px;
}

.slider__thumb--one {
  z-index: 20;
}

.slider__thumb--two {
  z-index: 10;
}

.slider__label {
  position: absolute;
  background: #f9f9f3;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  white-space: nowrap;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}

.slider__thumb:hover .slider__label,
.slider__thumb:active .slider__label {
  visibility: visible;
  opacity: 1;
  transition: opacity .4s;
}

.slider__label--horizontal {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -3px);
}

.slider__label--vertical {
  right: 100%;
  top: 50%;
  transform: translate(-3px, -50%);
}

.slider__interval {
  position: absolute;
  background-color: green;
}

.slider__interval--horizontal {
  height: 4px;
  top: 0;
}

.slider__interval--vertical {
  width: 4px;
  left: 0;
}