.form__header {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
}

.form__row {
	display: flex;
	justify-content: space-between;
}

.form__input-group {
	display: flex;
	align-items: center;
}

.form__input {
	margin-right: 1rem;
}

.form__label {
	position: relative;
}

.form__details {
	position: absolute;
	bottom: 100%;
	margin-bottom: .5rem;
	left: 10%;
	width: 100%;
	background: rgba(black, .05);
	font-size: .9rem;
	color: darkgrey;
	opacity: 0;
	visibility: hidden;
}

.form__input:disabled + .form__label:hover .form__details {
	visibility: visible;
	opacity: 1;
	transition-delay: .8s;
	transition: all ease-in 1s;
}

.form__input:disabled + label {
	color: lightgrey;
}

.form__group:not(:last-child) {
	margin-bottom: 3rem;
}