.example.example--one
  .example__column--left
    .example__input-row
      input(className="example__input" type="text" id="input-1-1")
      input(className="example__input" type="text" id="input-1-2")
    .slider-container.slider-container--one
  .example__column--right
