.example.example--two
  .example__column--left
    .example__input-row
      input(class="example__input" type="text" id="input-2-1")
      input(class="example__input" type="text" id="input-2-2")
    .slider-container.slider-container--one
  .example__column--right
    include ../form-two/form-two