@import './components/example-common/example-common.scss';
@import './components/example-one/example-one.scss';
@import './components/form/form.scss';
@import './components/input-group/input-group.scss';


*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  overflow-y: overlay;
  height: 100%;

  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
}

body {
  font-size: 1.4rem;
}

.main {
  width: 80%;
  margin: 0 auto;
  padding-top: 6rem;
}




