
.main {
  width: 80%;
  margin: 0 auto;
}

.header {
  color: mediumslateblue;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
}

.root {
  width: 30rem;
  margin: 0 auto;
}

.slider {
  position: relative;
  box-sizing: border-box;
  position: relative;
  height: 4px;
  background-color: rgb(190,200,190);
}

.slider__thumb {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(red,.2);
}

.slider__thumb--horizontal {
  top: -4px;
  left: 0;
}

.slider--vertical .slider__thumb {
  top: 0;
  left: 0;
}