
.main {
  width: 80%;
  margin: 0 auto;
}

.header {
  color: mediumslateblue;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
}

.root {
  width: 30rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.root1 {
  height: 10rem;
}

.slider {
  position: relative;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(190,200,190);
}

.slider--horizontal {
  height: 4px;
}

.slider--vertical {
  min-height: 5rem;
  height: 100%;
  width: 4px;
  margin: 0 auto;
}

.slider__thumb {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(red,.2);
}

.slider__thumb--horizontal {
  top: -4px;
  left: 0;
}

.slider__thumb--vertical {
  bottom: 0;
  left: -4px;
}